.offset-1 {
    margin-left: 1rem;
}
.offset-2 {
    margin-left: 2rem;
}
.offset-3 {
    margin-left: 3rem;
}
.offset-4 {
    margin-left: 4rem;
}
.offset-5 {
    margin-left: 5rem;
}
.offset-6 {
    margin-left: 6rem;
}
.offset-r1 {
    margin-right: 1rem;
}
.offset-r2 {
    margin-right: 2rem;
}
.offset-r3 {
    margin-right: 3rem;
}
.offset-r4 {
    margin-right: 4rem;
}
.offset-r5 {
    margin-right: 5rem;
}
.offset-r6 {
    margin-right: 6rem;
}

